<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MyProt</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/scripts/home.js" defer></script>
        <script>window.FOODS = <%- JSON.stringify(foods) %>;</script>
        <script>window.USER = <%- JSON.stringify(user || null) %>;</script>
    </head>
    <body>
        <header>
            <%- include('partials/header') %>
        </header>
        <h1>Aliments Répertoriés</h1>
        <table id="foodTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Nom ⇅</th>
                    <th onclick="sortTable(1, 'number')">Prix (€) ⇅</th>
                    <th onclick="sortTable(2, 'number')">Protéines /100g ⇅</th>
                    <th onclick="sortTable(3, 'number')">Glucides /100g ⇅</th>
                    <th onclick="sortTable(4, 'number')">Lipides /100g ⇅</th>
                    <th onclick="sortTable(5, 'number')">Calories /100g ⇅</th>
                    <th onclick="sortTable(6)">Ajouté par</th>
                    <th>Quantité (Tracking)</th>
                    <% if (user && user.rank === "admin") { %>
                        <th>Suppression</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% if (foods.length == 0) { %>
                    <tr>
                        <td colspan="4">Aucun aliment répertorié.</td>
                    </tr>
                <% } else { %>
                    <% foods.forEach(food => { %>
                        <tr>
                            <td><%= food.name %></td>
                            <td><%= food.price %></td>
                            <td><%= food.prot %></td>
                            <td><%= food.glucides %></td>
                            <td><%= food.lipides %></td>
                            <td><%= food.calories %></td>
                            <td><%= food.user %></td>
                            <td>
                                <form action="/add_tracking" method="post">
                                    <input type="hidden" name="foodId" value="<%= food._id %>">
                                    <input type="number" name="foodQuantity" placeholder="Quantité en grammes" min="1" required>
                                    <button type="submit">+</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        
    </body>
</html>