<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <title>MyProt</title>
</head>
    <body>
        <header>
            <a href="/">Accueil</a>
            <a href="/ajout">Ajout</a>
            <a href="/game">Jouer</a>
            <a href="/connexion">Mon Compte</a>
            <div class="search-container">
                    <input placeholder="Recherche" type="search" class="input">
            </div>
        </header>
        <h1>Aliments Répertoriés</h1>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix (€)</th>
                    <th>Protéines /100g</th>
                    <th>Glucides /100g</th>
                    <th>Lipides /100g</th>
                    <th>Calories /100g</th>
                    <th>Ajouté par</th>
                </tr>
            </thead>
            <tbody>
                <% if (foods.length == 0) { %>
                    <tr>
                        <td colspan="4">Aucun aliment répertorié.</td>
                    </tr>
                <% } else { %>
                    <% foods.forEach(food => { %>
                        <tr>
                            <td><%= food.name %></td>
                            <td><%= food.price %></td>
                            <td><%= food.prot %></td>
                            <td><%= food.glucides %></td>
                            <td><%= food.lipides %></td>
                            <td><%= food.calories %></td>
                            <td><%= food.user %></td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
        <script>
            window.FOODS = <%- JSON.stringify(foods) %>;
        </script>
        <script src="/scripts/home.js"></script>
    </body>
</html>